/*********************** SLIDER **********************************/
.slides-container{
    max-width: 100%;
    margin: auto;
}

.slide-details{
    bottom:40px;
    color: black;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.7);
    font-weight: 500;
    width: 350px;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    text-decoration: uppercase;
}

.slide-description{
    font-size: 1.3rem;
    margin:10px 0
}

.slide-title{
    font-weight: bold;
    font-size: 2.3rem;
}

.slide-button button{
    border: none;
    height: 50px;
    width: 100%;
    margin: 20px 0;
    text-transform: uppercase;
    background-color: #0c121c;
    color: white;
}

.dots{
    margin: 0 auto;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,-50%);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
   right: 0;
   border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.dot{
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin:0 2px;
    background-color: rgb(117,117,117);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover{
    background-color: white;
}

.dots span.active{
    background-color: white;
    border: 0.1px solid black;
}

@media screen and (max-width:909px){
    .slides-container{
        display: none;
    }
}